.headeer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: 1px solid rgb(210, 210, 210);
    background-color: white;
    z-index: 100;
}
.left-section {
    display: flex;
    align-items: center;    
}
.menu {
  height: 30px;
  margin: 0px 20px 0px 25px ;
  cursor: pointer;
}
.yt-logo {
    height: 70px;
    cursor: pointer;
}
.center-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    margin: 0px 1px 0px 40px;
}
.box {
    height: 40px;
    flex: 1;
    border: 1px solid;
    border-radius: 20px;
    margin-right: -60px;
    width: 0;
}
.srch {
    height: 20px;
    width: 20px;
    margin-left: -0px;   
}
.butone {
    height: 42px;
    width: 59px;
    border: 0;
    border-radius: 47px;
    border: 0px solid rgb(162, 163, 163);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    transition: background-color;  
}
.butone:hover {
    opacity: 0.8;
    background-color:rgb(217, 217, 217);
}
.butone:active {
    opacity: 0.5;
}
.buttwo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 0;
    background-color: rgb(248, 247, 247);
    transition: background-color;
    cursor: pointer;
    position: relative;
}

.buttwo:hover {
    opacity: 0.8;
    background-color: rgb(217, 217, 217);
}
.buttwo:active {
    opacity: 0.5;
}
.mic {
    height: 23px;
    width: 23px;
    cursor: pointer; 
}
.right-section {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}
.vadd {
    width: 25px;
    height: 15px;
    cursor: pointer;

}
.grid-icon {
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.noti {
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.noti-cont {
    position: relative;

}
.noti-count {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    top: -3px;
    right: -7px;
}
.loogo {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 17px;
}
.buttwo .tooltipp {
    position: absolute;
    background-color: aqua;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    bottom: -20px;
    opacity: 0;

}
.buttwo .tooltipp:hover {
    opacity: 1;
}