p {
    margin-top: 0px;
    margin-bottom: 0px;
   }

body {
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 25px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
}    
/* Comment: This style below will be inherited */

