.sidebar {
    position: fixed;
    width: 90px;
    left: 0;
    bottom: 0;
    top: 71px;
    background-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(210, 210, 210);
    z-index: 200;
   
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes back-ground {
    0% {background-color: white;}
    10% {background-color: rgb(50, 252, 202);}
    20% {background-color: rgb(54, 252, 242);}
    30% {background-color: rgb(57, 249, 252);}
    40% {background-color: rgb(51, 221, 255);}
    50% {background-color: rgb(50, 157, 250);}
    60% {background-color: rgb(72, 69, 242);}
    70% {background-color: rgb(184, 87, 249);}
    80% {background-color: rgb(230, 60, 245);}
    100% {background-color: rgb(122, 247, 54);}
}

.sidebarr {
    height: 70px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebarr:hover {
    background-color: rgb(228, 228, 228);
}
.sidebarr:active {
    opacity: 0.5;
}
.home {
    width: 20px;
    height: 20px;
}
.exp {
    width: 23px;
    height: 23px;
}
.subbs {
    height: 23px;
    width: 23px;
}
.mus {
    width: 25px;
    height: 25px;
}
.dwnld {
    width: 15px;
    height: 15px;
}
.sidebarr div {
    font-size: 10px;
}
.sidebarr img {
    margin-bottom: 4px;
}